
/***********************************************/
/* HTML tag styles                             */
/***********************************************/
body{
	font-family: Arial,'Microsoft YaHei',sans-serif;
	color: #333333;
	line-height: 1.166;	
	margin: 0px;
	padding: 0px;
	%background: #cccccc url(bg_grad.jpg) fixed;
}

/******* hyperlink and anchor tag styles *******/

a:link, a:visited{
	color: #005FA9;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/************** header tag styles **************/

h1{
 font: bold 200% Arial,'Microsoft YaHei',sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h2{
 font: bold 150% Arial,SimHei,sans-serif;
 color: #006699;
 margin: 0px;
 padding: 5px;
}

.left h2{
 font: bold 100% Arial,SimHei,sans-serif;
 %color: #006699;
 margin: 0px;
 padding: 5px;
}

h3{
 font: bold 120% Arial,SimHei,sans-serif;
 color: #334d55;
 margin: 10px;
 margin-left: 30px;
 padding: 0px;
}



/***********************************************/
/* Layout Divs                                 */
/***********************************************/
#pagecell1{
	position:relative;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	width:1200px;
	background-color: #ffffff;
}

div#top{
	width: 100% ;
	padding: 10px 10px 14px 10px;
	margin: 10px, 10px, 10px, 10px;
	border-bottom:1px solid #ccd2d2;
}

div#top-right{
	float: right ;
}

div#left {
	float: left ;
	width: 20% ;
	padding: 0px 0px 0px 0px;
	margin:10px 0px 0px 0px;
	%	border: 1px solid #ccd2d2;
	background-color: #ffffff;
}



div#content {
	float: right ;
	width: 80% ;
	%padding: 0px 10px 0px 0px;
	margin:10px 0px 0px 0px;
	%border: 1px solid #ccd2d2;
	background-color: #ffffff;
}

div#content-right {
	%position:absolute;
	float: right ;
    right:0;
    top:3cm;
	width:6cm;
	border:0.5px solid;
	background-color: #ffffff;
}

#tl {
	position:absolute;
	top: -1px;
	left: -1px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}

#tr {
	position:absolute;
	top: -1px;
	right: -1px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}


/***********************************************/
/* Component Divs                              */
/***********************************************/

/************** pageName styles ****************/



/************** feature styles *****************/

.feature{
	padding: 1px 1px 10px 10px;
	font-size: 100%;
	min-height: 10px;
	height: 100px;
}
html>body .feature {height: auto;}

.left img{
	float: right;	
	margin:20px;
	padding: 10px 10px 0px 0px;
}



li{
	margin:5px; 
	padding:0px;
} 

p {
	margin: 10px;
	margin-left: 10px;
	margin-right: 0px
	padding: 10px 0px 0px 0px;
	font-size: 100%;
	line-height:150%;
}


.list {
	margin: 5px;
	margin-left: 70px;
	margin-right: 0px
	padding: 10px 0px 0px 10px;
	font-size: 100%;
}

.author {
    color: #777777;
}


@font-face{font-family:'icomoon';src:url('icomoon.eot?ci3t36');src:url('icomoon.eot?ci3t36#iefix') format('embedded-opentype'),url('icomoon.ttf?ci3t36') format('truetype'),url('icomoon.woff?ci3t36') format('woff'),url('icomoon.svg?ci3t36#icomoon') format('svg');font-weight:normal;font-style:normal;}[class^="icon-"],[class*=" icon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;font-size:18px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}.icon-pengyouquan:before{content:"\e900";}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path1:before{content:"\e901";color:rgb(166,166,166);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path2:before{content:"\e902";margin-left:-3.375em;color:rgb(0,0,0);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path3:before{content:"\e903";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path4:before{content:"\e904";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path5:before{content:"\e905";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path6:before{content:"\e906";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path7:before{content:"\e907";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path8:before{content:"\e908";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path9:before{content:"\e909";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path10:before{content:"\e90a";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path11:before{content:"\e90b";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path12:before{content:"\e90c";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path13:before{content:"\e90d";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path14:before{content:"\e90e";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path15:before{content:"\e90f";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path16:before{content:"\e910";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path17:before{content:"\e911";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path18:before{content:"\e912";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path19:before{content:"\e913";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path20:before{content:"\e914";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path21:before{content:"\e915";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path22:before{content:"\e916";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path23:before{content:"\e917";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path24:before{content:"\e918";margin-left:-3.375em;color:rgb(255,255,255);}.icon-Download_on_the_App_Store_Badge_US-UK_135x40 .path25:before{content:"\e919";margin-left:-3.375em;color:rgb(255,255,255);}.icon-wechat:before{content:"\e91a";}.icon-weibo:before{content:"\e91b";}.icon-zhihu-square:before{content:"\e91c";}.icon-share-alternitive:before{content:"\e91d";}.icon-chevron-left:before{content:"\f053";}.icon-crying:before{content:"\e91e";}.icon-share2:before{content:"\e91f";}.icon-google-plus:before{content:"\e920";}.icon-facebook2:before{content:"\e921";}.icon-titter:before{content:"\e922";}.icon-feed2:before{content:"\e923";}.icon-steam2:before{content:"\e924";}.icon-github:before{content:"\e925";}.icon-apple:before{content:"\e926";}.icon-android:before{content:"\e927";}.icon-windows8:before{content:"\e928";}.icon-linkedin:before{content:"\e929";}.icon-chrome:before{content:"\e92a";}

